# Configuration and environment variables

# ============================================================
# CODE CONFIGURATION VARIABLES
# ============================================================

# ------------------------------------------------------------
# Runtime Variables
# ------------------------------------------------------------
# Total number of errors to process
# (Set to <0 to run all errors) 
PROCESS_FIRST_N=10 

# Maximum number of concurrent requests
MAX_CONCURRENT=55

# Maximum number of retries if something fails
MAX_RETRIES=3

# Which run/attempt this is
ATTEMPT_NUMBER=1

# Print a progress log line after processing N errors.
LOG_EVERY=50
# -----------------------------------------------------------


# -----------------------------------------------------------
# Image Cropping Settings
# -----------------------------------------------------------
# Image quality (dots per inch)
# Higher DPI ==> sharper images ==> more tokens ==> more $$$
DPI=150

# Extra padding (in inches) around cropped bounding boxes.
PAD_INCHES=0.05 
# -----------------------------------------------------------
# ===========================================================
# ===========================================================


# ===========================================================
# AZURE OPEN AI ENVIRONMENT VARIABLES
# ===========================================================

# Number of Azure Open AI endpoints to use
NUM_ENDPOINTS=5

# Azure Open AI Endpoints
AZURE_OPENAI_ENDPOINT_1=https://your-resource-1.openai.azure.com/
AZURE_OPENAI_ENDPOINT_2=https://your-resource-2.openai.azure.com/
AZURE_OPENAI_ENDPOINT_3=https://your-resource-3.openai.azure.com/
AZURE_OPENAI_ENDPOINT_4=https://your-resource-4.openai.azure.com/
AZURE_OPENAI_ENDPOINT_5=https://your-resource-5.openai.azure.com/

# Azure Open AI API keys
AZURE_OPENAI_KEY_1=your-api-key-1
AZURE_OPENAI_KEY_2=your-api-key-2
AZURE_OPENAI_KEY_3=your-api-key-3
AZURE_OPENAI_KEY_4=your-api-key-4
AZURE_OPENAI_KEY_5=your-api-key-5

# Model Name/Type
MODEL=gpt-5-mini

# API Version 
AZURE_OPENAI_API_VERSION=2024-12-01-preview

# ============================================================
# ============================================================

your-api-key-4