# Azure Document Intelligence
DI_ENDPOINT=https://<your-document-intelligence-resource>.cognitiveservices.azure.com/
DI_KEY=<your-document-intelligence-key>

# Azure AZURE_FOUNDRY
AZURE_FOUNDRY_ENDPOINT=<your-azure-foundry-endpoint>
AZURE_FOUNDRY_KEY=<your-azure-foundry-key>
AZURE_FOUNDRY_DEPLOYMENT=<your-deployment-name>